<div id="<%= dom_id manufacturer %>">
  <p>
    <strong>Name:</strong>
    <%= manufacturer.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= manufacturer.description %>
  </p>

  <p>
    <strong>Mid:</strong>
    <%= manufacturer.mid %>
  </p>

  <p>
    <strong>Uid:</strong>
    <%= manufacturer.uid %>
  </p>

  <p>
    <strong>Bur:</strong>
    <%= manufacturer.bur %>
  </p>

</div>
