<!DOCTYPE html>
<html>
  <head>
    <title>L4chlabDb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <header>
        <%= render partial: 'shared/navbar' %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </header>
      <%= yield %>
      <footer>
        <%= render partial: 'shared/footer' %>
      </footer>
    </div>
  </body>
</html>
